@charset "EUC-KR";

#contents > .f1 >  span {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	padding: 30px 0px 0px 0px;
}
#contents > .topbanner > img {
	width: 1440px;
	height: 200px;
}
#contents > .f1 {
	margin: 0px 0px 0px 450px;
}
#contents > .f1 > img {
	float:left;
	width: 100px;
	height: 150px;
}
#contents > .f1 > ul {
	list-style-type: disc;
	color: #4454a1;
	padding: 20px 0px 0px 120px;
}
.s2 {
	margin: 100px 0px 100px 300px;
	box-shadow: 0px 0px 5px 1px #bfbfbf;
}
.fset {
	margin: 20px 0px 0px 0px;
}
.fset .sdate {
	width: 700px;
	height: 50px;
}
.fset .stime {
	width: 275px;
	height: 50px;
}
.sset {
	margin: 30px 0px 20px 0px;
}
.sset > img {
	width: 50px;
	height: 50px;
	float: left;
}
.sset > input {
	width: 880px;
}
.splace {
	display: block;
}
.sset > button > img {
	width: 30px;
	height: 25px;
}
.sset > button {
	margin: 5px 0px 0px 0px;
	height: 28px;
}
.tset > img {
	margin: 0px 0px 30px 0px;
}
.tset > input {
	width: 300px;
	margin: 20px 0px 20px 0px;
}
.td2 {
	margin: 0px 0px 0px 30px;
}
.deepsel {
	margin: 5px 0px 50px 0px;
}
.driverintroduce {
	width: 975px;
	height: 100px;
	margin: 20px 0px 0px 0px;
}
.s2 > .s2form > button {
	width: 400px;
	height: 50px;
	margin: 50px 0px 50px 300px;
}

.s2form {
	margin: 50px;
	padding: 50px 0px 0px 0px;
}
