@charset "UTF-8";

button {
	margin: 10px 0px 0px 0px;
}
#contents {
/* 	float: left; */
	margin: 80px 0px 0px 0px;
}


#first img {
	float:left;
	width:100px;
	height:100px;
	margin: 0px 30px 0px 80px;
}
#first .ffd {
	float:left;
	font-weight: bold;
	font-size: 30px;
}
#first .f2 {
	float:left;
	margin: 0px 0px 0px 420px;
}


#second img {
	float:right;
	width:720px;
	height:400px;
}
#second .s1 {
	float:left;
	padding: 120px 80px 0px 80px;
}
#second .s1 .sfd {
	font-weight: bold;
	font-size: 30px;
}
#second .s1 .ssd {
	float:left;
	margin: 10px 0px 0px 0px;
}


#third img {
	float:left;
	width:720px;
	height:400px;
}
#third .t1 {
	float:left;
	padding: 120px 80px 0px 150px;
}
#third .t1 .tfd {
	font-weight: bold;
	font-size: 30px;
}
#third .t1 .tsd {
	float:left;
	margin: 10px 0px 0px 0px;
}


#fourth img {
	float:right;
	width:720px;
	height:400px;
}
#fourth .f1 {
	float:left;
	padding: 120px 80px 0px 80px;
}
#fourth .f1 .ffd {
	font-weight: bold;
	font-size: 30px;
}
#fourth .f1 .fsd {
	float:left;
	margin: 10px 0px 0px 0px;
}

