/* Noto Sans : English */
@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Light');
    src: url(../fonts/NotoSans-Light.eot);
    src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Light.woff2) format('woff2'),
    url(../fonts/NotoSans-Light.woff) format('woff'),
    url(../fonts/NotoSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans LightItalic');
    src: url(../fonts/NotoSans-LightItalic.eot);
    src: url(../fonts/NotoSans-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-LightItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-LightItalic.woff) format('woff'),
    url(../fonts/NotoSans-LightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans ExtraLight');
    src: url(../fonts/NotoSans-ExtraLight.eot);
    src: url(../fonts/NotoSans-ExtraLight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-ExtraLight.woff2) format('woff2'),
    url(../fonts/NotoSans-ExtraLight.woff) format('woff'),
    url(../fonts/NotoSans-ExtraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans ExtraLightItalic');
    src: url(../fonts/NotoSans-ExtraLightItalic.eot);
    src: url(../fonts/NotoSans-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-ExtraLightItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-ExtraLightItalic.woff) format('woff'),
    url(../fonts/NotoSans-ExtraLightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light');
    src: url(../fonts/NotoSans-Light.eot);
    src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Light.woff2) format('woff2'),
    url(../fonts/NotoSans-Light.woff) format('woff'),
    url(../fonts/NotoSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans LightItalic');
    src: url(../fonts/NotoSans-LightItalic.eot);
    src: url(../fonts/NotoSans-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-LightItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-LightItalic.woff) format('woff'),
    url(../fonts/NotoSans-LightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular');
    src: url(../fonts/NotoSans-Regular.eot);
    src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Regular.woff2) format('woff2'),
    url(../fonts/NotoSans-Regular.woff) format('woff'),
    url(../fonts/NotoSans-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular');
    src: url(../fonts/NotoSans-RegularItalic.eot);
    src: url(../fonts/NotoSans-RegularItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-RegularItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-RegularItalic.woff) format('woff'),
    url(../fonts/NotoSans-RegularItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium');
    src: url(../fonts/NotoSans-Medium.eot);
    src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Medium.woff2) format('woff2'),
    url(../fonts/NotoSans-Medium.woff) format('woff'),
    url(../fonts/NotoSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans MediumItalic');
    src: url(../fonts/NotoSans-MediumItalic.eot);
    src: url(../fonts/NotoSans-MediumItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-MediumItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-MediumItalic.woff) format('woff'),
    url(../fonts/NotoSans-MediumItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans SemiBold');
    src: url(../fonts/NotoSans-SemiBold.eot);
    src: url(../fonts/NotoSans-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-SemiBold.woff2) format('woff2'),
    url(../fonts/NotoSans-SemiBold.woff) format('woff'),
    url(../fonts/NotoSans-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans SemiBoldItalic');
    src: url(../fonts/NotoSans-SemiBoldItalic.eot);
    src: url(../fonts/NotoSans-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-SemiBoldItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-SemiBoldItalic.woff) format('woff'),
    url(../fonts/NotoSans-SemiBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold');
    src: url(../fonts/NotoSans-Bold.eot);
    src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Bold.woff2) format('woff2'),
    url(../fonts/NotoSans-Bold.woff) format('woff'),
    url(../fonts/NotoSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans BoldItalic');
    src: url(../fonts/NotoSans-BoldItalic.eot);
    src: url(../fonts/NotoSans-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-BoldItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-BoldItalic.woff) format('woff'),
    url(../fonts/NotoSans-BoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    src: local('Noto Sans ExtraBold');
    src: url(../fonts/NotoSans-ExtraBold.eot);
    src: url(../fonts/NotoSans-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-ExtraBold.woff2) format('woff2'),
    url(../fonts/NotoSans-ExtraBold.woff) format('woff'),
    url(../fonts/NotoSans-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    src: local('Noto Sans ExtraBoldItalic');
    src: url(../fonts/NotoSans-ExtraBoldItalic.eot);
    src: url(../fonts/NotoSans-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-ExtraBoldItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-ExtraBoldItalic.woff) format('woff'),
    url(../fonts/NotoSans-ExtraBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black');
    src: url(../fonts/NotoSans-Black.eot);
    src: url(../fonts/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Black.woff2) format('woff2'),
    url(../fonts/NotoSans-Black.woff) format('woff'),
    url(../fonts/NotoSans-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans BlackItalic');
    src: url(../fonts/NotoSans-BlackItalic.eot);
    src: url(../fonts/NotoSans-BlackItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-BlackItalic.woff2) format('woff2'),
    url(../fonts/NotoSans-BlackItalic.woff) format('woff'),
    url(../fonts/NotoSans-BlackItalic.otf) format('opentype');
}



/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat Thin'), local('Montserrat Thin');
    src: url(../fonts/Montserrat-Thin.eot);
    src: url(../fonts/nMontserrat-Thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Thin.woff2) format('woff2'),
    url(../fonts/Montserrat-Thin.woff) format('woff'),
    url(../fonts/Montserrat-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat ThinItalic'), local('Montserrat ThinItalic'), local('Montserrat ThinItalic');
    src: url(../fonts/Montserrat-ThinItalic.eot);
    src: url(../fonts/nMontserrat-Thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-ThinItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-ThinItalic.woff) format('woff'),
    url(../fonts/Montserrat-ThinItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('Montserrat ExtraLight'), local('Montserrat ExtraLight');
    src: url(../fonts/Montserrat-ExtraLight.eot);
    src: url(../fonts/nMontserrat-ExtraLight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-ExtraLight.woff2) format('woff2'),
    url(../fonts/Montserrat-ExtraLight.woff) format('woff'),
    url(../fonts/Montserrat-ExtraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLightItalic'), local('Montserrat ExtraLightItalic'), local('Montserrat ExtraLightItalic');
    src: url(../fonts/Montserrat-ExtraLightItalic.eot);
    src: url(../fonts/nMontserrat-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-ExtraLightItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-ExtraLightItalic.woff) format('woff'),
    url(../fonts/Montserrat-ExtraLightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat Light'), local('Montserrat Light');
    src: url(../fonts/Montserrat-Light.eot);
    src: url(../fonts/nMontserrat-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/Montserrat-Light.woff) format('woff'),
    url(../fonts/Montserrat-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat LightItalic'), local('Montserrat LightItalic'), local('Montserrat LightItalic');
    src: url(../fonts/Montserrat-LightItalic.eot);
    src: url(../fonts/nMontserrat-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-LightItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-LightItalic.woff) format('woff'),
    url(../fonts/Montserrat-LightItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat Regular'), local('Montserrat Regular');
    src: url(../fonts/Montserrat-Regular.eot);
    src: url(../fonts/nMontserrat-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat RegularItalic'), local('Montserrat RegularItalic'), local('Montserrat RegularItalic');
    src: url(../fonts/Montserrat-RegularItalic.eot);
    src: url(../fonts/nMontserrat-RegularItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-RegularItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-RegularItalic.woff) format('woff'),
    url(../fonts/Montserrat-RegularItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat Medium'), local('Montserrat Medium');
    src: url(../fonts/Montserrat-Medium.eot);
    src: url(../fonts/nMontserrat-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Medium.woff2) format('woff2'),
    url(../fonts/Montserrat-Medium.woff) format('woff'),
    url(../fonts/Montserrat-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat MediumItalic'), local('Montserrat MediumItalic'), local('Montserrat MediumItalic');
    src: url(../fonts/Montserrat-MediumItalic.eot);
    src: url(../fonts/nMontserrat-MediumItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-MediumItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-MediumItalic.woff) format('woff'),
    url(../fonts/Montserrat-MediumItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold');
    src: url(../fonts/Montserrat-SemiBold.eot);
    src: url(../fonts/nMontserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
    url(../fonts/Montserrat-SemiBold.woff) format('woff'),
    url(../fonts/Montserrat-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBoldItalic');
    src: url(../fonts/Montserrat-SemiBoldItalic.eot);
    src: url(../fonts/nMontserrat-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-SemiBoldItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-SemiBoldItalic.woff) format('woff'),
    url(../fonts/Montserrat-SemiBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold');
    src: url(../fonts/Montserrat-Bold.eot);
    src: url(../fonts/nMontserrat-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Bold.woff2) format('woff2'),
    url(../fonts/Montserrat-Bold.woff) format('woff'),
    url(../fonts/Montserrat-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat BoldItalic');
    src: url(../fonts/Montserrat-BoldItalic.eot);
    src: url(../fonts/nMontserrat-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-BoldItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-BoldItalic.woff) format('woff'),
    url(../fonts/Montserrat-BoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold');
    src: url(../fonts/Montserrat-ExtraBold.eot);
    src: url(../fonts/nMontserrat-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'),
    url(../fonts/Montserrat-ExtraBold.woff) format('woff'),
    url(../fonts/Montserrat-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBoldItalic');
    src: url(../fonts/Montserrat-ExtraBoldItalic.eot);
    src: url(../fonts/nMontserrat-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-ExtraBoldItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-ExtraBoldItalic.woff) format('woff'),
    url(../fonts/Montserrat-ExtraBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black');
    src: url(../fonts/Montserrat-Black.eot);
    src: url(../fonts/nMontserrat-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Black.woff2) format('woff2'),
    url(../fonts/Montserrat-Black.woff) format('woff'),
    url(../fonts/Montserrat-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat BlackItalic');
    src: url(../fonts/Montserrat-BlackItalic.eot);
    src: url(../fonts/nMontserrat-BlackItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-BlackItalic.woff2) format('woff2'),
    url(../fonts/Montserrat-BlackItalic.woff) format('woff'),
    url(../fonts/Montserrat-BlackItalic.otf) format('opentype');
}



/* Noto Sans Korean */

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Korean Thin'), local('Noto Sans Korean Thin'), local('Noto Sans Korean Thin');
    src: url(../fonts/notokr-thin.eot);
    src: url(../fonts/notokr-thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-thin.woff2) format('woff2'),     
    url(../fonts/notokr-thin.woff) format('woff'),
    url(../fonts/notokr-thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Korean Light'), local('Noto Sans Korean Light'), local('Noto Sans Korean Light');
    src: url(../fonts/notokr-light.eot);
    src: url(../fonts/notokr-light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-light.woff2) format('woff2'),
    url(../fonts/notokr-light.woff) format('woff'),
    url(../fonts/notokr-light.otf) format('opentype');
    
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Korean Regular'), local('Noto Sans Korean Regular'), local('Noto Sans Korean Regular');
    src: url(../fonts/notokr-regular.eot);
    src: url(../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-regular.woff2) format('woff2'),
    url(../fonts/notokr-regular.woff) format('woff'),
    url(../fonts/notokr-regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Korean Medium'), local('Noto Sans Korean Medium'), local('Noto Sans Korean Medium');
    src: url(../fonts/notokr-medium.eot);
    src: url(../fonts/notokr-medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-medium.woff2) format('woff2'),
    url(../fonts/notokr-medium.woff) format('woff'),
    url(../fonts/notokr-medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Korean bold'), local('Noto Sans Korean bold'), local('Noto Sans Korean bold');
    src: url(../fonts/notokr-bold.eot);
    src: url(../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-bold.woff2) format('woff2'),
    url(../fonts/notokr-bold.woff) format('woff'),
    url(../fonts/notokr-bold.otf) format('opentype');
}


@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Korean black'), local('Noto Sans Korean black'), local('Noto Sans Korean black');
    src: url(../fonts/notokr-black.eot);
    src: url(../fonts/notokr-black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/notokr-black.woff2) format('woff2'),
    url(../fonts/notokr-black.woff) format('woff'),
    url(../fonts/notokr-black.otf) format('opentype');
}

