@charset "UTF-8";
*{margin:0;padding:0;font:inherit;color:inherit;}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
table {border-collapse:collapse;border-spacing:0}
ul, ol {list-style-type: none;}
a {text-decoration: none;}
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}
#wrap {
	width: 1440px;
	margin: 0px auto;
}
#wrap > #header {
	border-bottom: 1px solid #bfbfbf;
}

/* header */
#safe {
	height: 50px;
	text-align: center;
	background-color: #4454a1;
	padding: 10px 0px 0px 0px;
}
#safe a {
	color: #ffffff;
}
#safe a:hover {text-decoration:underline;}
#header {
		width:1440px;
/* 		margin: 0px 240px 0px 240px; */
}
#header > #nav {
	float: left;
	margin: 30px 0px 0px 0px;
}
#header > #nav > li {
	float: left;
	padding: 40px 70px 0px 70px;
	font-size: 20px;
	font-family: 'Noto Sans';
	font-weight: bold;
}
#header > #login {
	float:right;
	margin: 30px 0px 0px 0px;
}
#header > #login > li {
	float: left;
	padding: 40px 0px 0px 30px;
}
#header > h1 {
	float:left;
	margin: 30px 0px 0px 0px;
}
/* header */




/* subHeader */
#subHeader {
	background-color: #d3d3d3;
}
#subHeader > #subNav {
	float: left;
	height: 50px;
	padding: 10px 0px 10px 330px;
}
#subHeader > #subNav > li {
	float: left;
	margin: 0px 100px 0px 0px;
	font-size: 20px;
	font-family: 'Noto Sans';
	font-weight: bold;
}
#subHeader > #subNav > li:hover {
	color: #4454a1;
	border-bottom: 1px solid #4454a1;
}
/* subHeader */

/* footer */
#wrap > #footer {
	float: left;
	border-top: 1px solid #bfbfbf;
/* 	background-color: #bfbfbf; */
}
#footer {
		width: 1440px;
}
#footer > h1 {
	float:left;
	margin: 50px 75px 0px 0px;
}
#footer > #info {
	float:left;
	margin: 60px 0px 0px 150px;
}
#footer > #info2 {
	float:left;
	margin: 60px 0px 0px 150px;
}
#footer > #sns {
	float:right;
}
#footer > #sns > ul {
	float:right;
}
#footer > #sns > ul > li {
	float:left;
	padding: 50px 0px 0px 25px;
}